<blockquote>
  <p>Planq is the very first cryptocurrency project to keep mobile platform usability at heart, taking a step away from dependency on desktop services. The Planq blockchain is powered by the $PLQ token and The ecosystem is expanding every day.</p>
  <footer><a href="https://planq.network/" target="_blank">https://planq.network/</a></footer>
</blockquote>
